<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Jordan Amalfitano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="{{url_for('static' ,filename='images/favicon.ico')}}" />

    {% block css %}
    {% include 'partials/css.html' %}
    {% endblock css %}

</head>

<body data-bs-target=".navbar" data-bs-offset="110">
    <div class="navbar-min-height">

        {% block navbar %}
        {% include 'partials/navbar.html' %}
        {% endblock navbar %}

        {% block section %}
        {% endblock section %}

    </div>
    
    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}    

    {% block extra_js %}    
    {% endblock extra_js %}

    {% block javascript %}
    {% include 'partials/javascript.html' %}
    {% endblock javascript %}

</body>

</html>
