{% extends 'partials/base.html' %}
{% block section %}

    <section class="hero position-relative overflow-hidden align-items-center" id="home">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <h2 class="text-dark fw-light lh-base mt-5">I enjoy solving hard <span class="fw-medium title">Business Problems</span> with <span class="fw-medium title">Cool People</span>.</h2>
                    <br>
                    <br>
                    <p class="text-muted fs-16">Obviously the best way to learn about someone is via impressive sounding statistics. Well I founded an international business with over 10 staff that made 1,000s of sales, I have taught 100s of under-graduate business students, and I only ate 2.7 donuts in the last month. Jokes aside, I have a passion for business and I enjoy solving hard problems.</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-12 regular-container">
                <img src="{{url_for('static' ,filename='images/brisbane.jpg')}}" alt="about-img" class="img-fluid mt-5">
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <h4 class="fw-semibold border-bottom d-inline-block text-dark pb-3">My Interests</h4>
                    <br>
                    <br>
                    <br>
                    <p class="text-muted fs-16">Currently I am at the Queensland University of Technology, Brisbane. I work with a team that provides business strategy consulting services and I teach business. Qualification wise, I have completed a bachelors of business management and HR and I am doing masters research into how organisations can foster high performing teams.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3 mt-4 work-container">
                    <div class="team-box">
                        <img src="{{url_for('static' ,filename='images/interests/business.jpg')}}" class="img-fluid rounded" alt="">
                        <h5 class="text-dark mt-3 fs-16">Business</h5>
                        <p class="text-muted">Business strategy and innovation.</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 work-container">
                    <div class="team-box">
                        <img src="{{url_for('static' ,filename='images/interests/coding.jpg')}}" class="img-fluid rounded" alt="">
                        <h5 class="text-dark mt-3 fs-16">Coding</h5>
                        <p class="text-muted">Automation and data analysis.</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 work-container">
                    <div class="team-box">
                        <img src="{{url_for('static' ,filename='images/interests/research.jpg')}}" class="img-fluid rounded" alt="">
                        <h5 class="text-dark mt-3 fs-16">Research</h5>
                        <p class="text-muted">Employee experience and industry.</p>
                    </div>
                </div>
                <div class="col-lg-3 mt-4 work-container">
                    <div class="team-box">
                        <img src="{{url_for('static' ,filename='images/interests/building.jpg')}}" class="img-fluid rounded" alt="">
                        <h5 class="text-dark mt-3 fs-16">Creating</h5>
                        <p class="text-muted">Electronic circuits and artwork.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="center text-center mt-5">
                    <a href="/" class="btn btn-primary btn-width-sm">My Projects<i class="mdi mdi-arrow-right ms-1"></i></a>
                    <a class="me-2"></a>
                    <a href="/contact" class="btn btn-primary btn-width-sm">Contact Me<i class="mdi mdi-lifebuoy ms-1"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock section %}
