{% extends 'partials/base.html' %}
{% block section %}

    <section class="hero position-relative overflow-hidden align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="text-dark fw-light lh-base mt-5">Howdy, I am <span
                            class="fw-medium title">Jordan Amalfitano</span> and I tend to work on cool projects with cool people.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 filters-group-wrap mb-3">
                    <div class="filters-group default-cursor">
                        <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                            <li class="list-inline-item categories position-relative active my-sm-0 my-2"
                                data-group="all"><a class="pointer">All</a></li>
                            {% for datagroup in datagroups %}
                            <li class="list-inline-item categories position-relative my-sm-0 my-2"
                                data-group="{{ datagroup }}"><a class="pointer">{{ datagroup[0]|upper}}{{datagroup[1:] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div id="grid" class="row">
                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["coding"]'>
                    <div class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img1.jpg')}}" class="img-fluid rounded" alt="project-image" />
                            </a>
                            <div>
                                <a class="content bg-light p-3 shadow" href="/project/t">
                                    <h6 class="text-dark fw-medium fs-15"> Iphone Mockup</h6>
                                    <p class="fs-14 text-muted font-weight-normal tag mb-0">Learn more...</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["coding"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img3.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Mockup Collection</a>
                                </h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Learn more...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["photography"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img2.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Abstract Images</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Abstract</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["development"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img4.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Yellow Background with Books</a>
                                </h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["branding"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a href="javascript:void(0)" class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img6.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Company V-card</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">V-card</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["branding"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img9.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Mockup Box with
                                        Paints</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Photography</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["designing"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img8.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Coffee Cup</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Cups</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["development"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img7.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Yellow Background with Books</a>
                                </h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["development"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img12.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Pen and Article</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Article</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["development"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img10.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Yellow Background with Books</a>
                                </h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["designing"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img11.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Coffee Cup</a></h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Cups</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 spacing picture-item" data-groups='["development"]'>
                    <div
                        class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="d-inline-block" title="">
                                <img src="{{url_for('static' ,filename='images/projects/img5.jpg')}}" class="img-fluid rounded" alt="work-image" />
                            </a>
                            <div class="content bg-light p-3 shadow">
                                <h6><a href="/portfolio/workdetail"
                                        class="text-dark fw-medium fs-15">Yellow Background with Books</a>
                                </h6>
                                <p class="fs-14 text-muted font-weight-normal tag mb-0">Books</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="center text-center mt-5">
                        <a href="/about" class="btn btn-primary btn-width-sm">About Me<i class="mdi mdi-arrow-right ms-1"></i></a>
                        <a class="me-2"></a>
                        <a href="/contact" class="btn btn-primary btn-width-sm">Contact Me<i class="mdi mdi-lifebuoy ms-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock section %}

{% block extra_js %}

    <script src="{{url_for('static' ,filename='js/shuffle.min.js')}}"></script>
    <script src="{{url_for('static' ,filename='js/gallery.init.js')}}"></script>

{% endblock extra_js %}
