{% extends 'partials/base.html' %}
{% block section %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="page-title">
                        <h2 class="text-dark fw-light lh-base mt-5">{{ project.detail.title }}</h2>
                        <br>
                        <br>
                        <p class="fs-16 text-muted mb-0">{{ project.detail.summary }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    <section class="sm-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    {% if project.images|length > 1 %}
                    <div class="slideshow-container">
                        {% for image in project.images %}
                        <div class="carousel-slide slide-fade">
                            {% set image_path = constants.imagepath ~ image %}
                            <img src="{{url_for('static' ,filename=image_path)}}" alt="project-img" class="img-fluid rounded-3">
                        </div>
                        {% endfor %}
                        <a class="prev-slide" id="prev-button" type="button">&#10094;</a>
                        <a class="next-slide" id="next-button" type="button">&#10095;</a>
                    </div>
                    {% else %}
                    {% set image_path = constants.imagepath ~ project.images[0] %}
                    <img src="{{url_for('static' ,filename=image_path)}}" alt="about-img" class="img-fluid rounded-3"/>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="d-flex align-items-center py-3">
                        <h6 class="me-4">Date : <span class="fw-normal text-muted ms-1">{{ project.detail.date }}</span></h6>
                    </div>
                    <div class="border-top py-4"></div>
                    <p class="text-muted fs-15">{{ project.detail.description }}</p>
                    <br>
                    <a href="/" class="btn btn-primary btn-width-sm">More Projects<i class="mdi mdi-arrow-right ms-1"></i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock section %}